chromadb
cohere
fastapi
geocoder
langchain
langchain_chroma
langchain_community
langchain_core
langchain_google_genai
langchain_openai
langchain_pinecone
langchain_text_splitters
mysql_connector_repackaged
pandas
pinecone
protobuf
pyngrok
python-dotenv
Requests
torch
tqdm
unsloth
